<div class="tabbable" data-ng-class="{'tabs-right': direction == 'right', 'tabs-left': direction == 'left', 'tabs-below': direction == 'below'}">
  <div data-tabset-titles="tabsAbove"></div>
  <div class="tab-content">
    <div class="tab-pane" 
         data-ng-repeat="tab in tabs" 
         data-ng-class="{active: tab.active}"
         data-tab-content-transclude="tab">
    </div>
  </div>
  <div data-tabset-titles="!tabsAbove"></div>
</div>