<div class="content">
    <div class="row">
        <div class="col-md-12">
            <h4>{{ license.name }} License</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <small>{{ license.terms }}</small>
        </div>
        <div class="col-md-5 text-center">
            <h4>{{ item.pricing[licenseId-1].price | currency }}</h4>
            <a href=""
                class="btn btn-sm"
                data-ng-class="{ '{{buttonType}}' : !inCart(), 'btn-primary' : inCart() }"
                data-ng-click="addToCart()">
                <span class="glyphicon glyphicon-{{ buttonIcon() }}"></span>
                <span data-ng-bind="buttonText()"></span>
            </a>
        </div>
    </div>
</div>