<ol class="breadcrumb">
    <li data-ng-repeat="breadcrumb in breadcrumbs" data-ng-class="{active:$last}">
        <a data-ng-href="/#!{{ breadcrumb.href }}" data-ng-show="!$last">{{ breadcrumb.text | capitalize }}</a>
        <span data-ng-show="$last">{{ breadcrumb.text | capitalize }}</span>
    </li>
</ol>