<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Template Name</th>
			<th>License Type</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="item in items">
			<td>
				<a href="" data-ng-click="remove(item.templateId)" data-ng-show="editable">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
			<td>{{ item.templateName }}</td>
			<td>
				<select class="form-control input-sm" style="width: 80%"
					data-ng-model="item.licenseId"
					data-ng-show="editable"
					data-ng-options="license.licenseID as license.name for license in licenses">
				</select>
				<span data-ng-show="editable === 'false'">{{ item.licenseName }}</span>
			</td>
			<td>{{ item.pricing[item.licenseId] | currency }}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" class="text-right">
				<strong>Total</strong>
			</td>
			<td>
				<strong>{{ getTotal() | currency }}</strong>
			</td>
		</tr>
	</tfoot>
</table>