﻿<div class="row">
    <div class="col-xs-6">
        <a href="" class="theme-changer pull-left" data-ng-click="toggleThemeChanger()">
            <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-up' : themesVisible, 'glyphicon-chevron-down' : !themesVisible }"></span> Site Theme
        </a>
    </div>
    <div class="col-xs-6 text-right">
        <a href="" class="pull-right" data-ng-click="toggleContact()">
            Contact Us
            <span class="glyphicon" data-ng-class="{ 'glyphicon-chevron-up' : contactVisible, 'glyphicon-chevron-down' : !contactVisible }"></span>
        </a>
    </div>
</div>
<div class="row">

    <!-- Contact Form -->
    <div class="col-md-12 footer-contact-form">
        <div class="row">
            <div class="col-md-12">
                <h4>Trying to get a hold of us?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <address>
                    <strong>Postal Address</strong><br />
                    1233 Old Northern Road<br />
                    Middle Dural NSW 2158
                </address>
                <p>
                    T: (02) 9651 6671<br />
                    M: 0430 894 441<br />
                    E: info@templatesdojo.com
                </p>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal" name="contactUs" data-validated-form data-ng-submit="submit()">
                    <button type="submit" class="btn btn-info">
                        Holler! <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Theme Changer -->
    <div class="col-sm-12 footer-theme-changer">
        <div class="row">
            <div class="col-md-3 col-sm-6" data-ng-repeat="theme in themes">
                <a href="" data-ng-click="selectTheme(theme)">
                    <span class="glyphicon glyphicon-picture"></span>
                    {{ theme.name }}
                    <span data-ng-show="theme.theme === currentTheme">(Selected)</span>
                </a>
            </div>
        </div>
    </div>

</div>
