<div class="navbar navbar-default navbar-fixed-top navbar-inverse z-navbar-top">
  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="collapsed = !collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand visible-xs show-brand" data-ng-href="/#!" data-name="{{ brandName }}" data-icon="/Content/img/logo.png"></a>
    </div>
    <div data-collapse="collapsed" class="navbar-collapse">
      <a class="navbar-brand hidden-xs show-brand" data-ng-href="/#!" data-name="{{ brandName }}" data-icon="/Content/img/logo.png"></a>
      <ul class="nav navbar-nav navbar-right">

        <!-- Add categories page for phones only -->
        <li class="visible-xs">
          <a href="/#!/categories" class="dropdown-toggle">Categories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="item in bottomMenu">
              <a data-ng-href="/#!{{ item.href }}" class="dropdown-toggle">{{ item.text }}</a>
            </li>
          </ul>
        </li>

        <!-- Top Menu items -->
        <li data-ng-repeat="item in topMenu" class="ng-class: { dropdown: item.children }">
          <a data-ng-href="/#!{{ item.href }}" class="glow">{{ item.text }}</a>
        </li>

        <!-- User Management -->
        <li data-ng-switch="showUser" class="pull-right">

          <!-- Sign In/Up Buttons -->
          <div class="btn-group btn-group" data-ng-switch-when="false">
            <a href="/#!/sign-up" class="btn btn-default">Sign Up</a>
            <a href="/#!/sign-in" class="btn btn-default">Sign In</a>
          </div>

          <!-- User Menu -->
          <div data-ng-switch-when="true" class="pull-right z-navbar-user" data-ng-controller="UserAuthenticationController">
            <div class="user-settings pull-right dropdown">
              <div class="pull-left logged-in-status">
                <small>Logged in as: <strong>{{ username }}</strong></small>
              </div>
              <a href="" class="pull-right settings-toggle dropdown-hover">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
              <ul class="dropdown-menu">
                <li data-ng-show="!isAdmin">
                  <a href="/#!/view-cart" data-ng-controller="ShoppingCartController">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span> {{ count }} item(s)</span>
                  </a>
                </li>
                <li data-ng-repeat="item in userMenu" class="ng-class: { divider: item.divider }">
                  <a data-ng-href="/#!{{ item.href }}" data-ng-show="!item.divider">{{ item.text }}</a>
                </li>
                <li class="divider"></li>
                <li><a href="" data-ng-click="signOut()">Sign Out</a></li>
              </ul>
            </div>
          </div>

        </li>

      </ul>
    </div>
  </div>

  <div class="z-navbar-bottom hidden-xs">
    <div class="container">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in bottomMenu" class="dropdown">
                <a data-ng-href="/#!{{ item.href }}" class="dropdown-hover">{{ item.text }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="child in item.children" class="ng-class: { divider: child.divider }">
                        <a data-ng-href="/#!{{ child.href }}" data-ng-show="!child.divider">{{ child.text }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <form class="navbar-form navbar-right" data-search>
            <input type="text" ng-model="search" placeholder="Search Templates">
        </form>
    </div>
  </div>

</div>