﻿<fieldset>
    <legend data-ng-show="form.caption" data-ng-bind-html="form.caption"></legend>
    <div data-ng-include="form.location"></div>
    
    <div data-ng-show="form.showButtons">
        <hr />
        <div class="pull-right" data-ng-transclude>{{ buttons }}</div>
    </div>
</fieldset>