﻿@primary-bg-color-dark:             #1a1a1a;
@secondary-bg-color-dark:	        #3C3C3C;
@primary-font-color-dark:           #666666;
@secondary-font-color-dark:		    #cccccc;
@accent-color-dark:				    #791616;
@body-bg-color-dark:                #efefef;
@content-bg-color-dark:             #ffffff;
@jumbotron-bg-color-dark:           #DDC1C1;
@jumbotron-font-color-dark:         #995454;

html.dark-theme {
    background: @primary-bg-color-dark;

    body {
        background: @body-bg-color-dark;
        color: @primary-font-color-dark;

        .template-preview {
            h5 {
                color: @primary-font-color-dark;
            }

            &:hover {
                background: @secondary-bg-color-dark;
                color: @content-bg-color-dark;
            }
        }

        .main-title {
            color: @accent-color-dark;
        }

        a:link, a:visited {
            color: @accent-color-dark;

            &.btn:not(.btn-default) {
                color: @content-bg-color-dark;
            }

            &.btn-default {
                color: @primary-font-color-dark;
            }
        }

        .dropdown-scroll {

            > li.disabled > a {
                color: @secondary-font-color-dark;
            }

            > li > a {
                color: @primary-font-color-dark;
            }
        }

        .navbar-nav > .open > a {
            background: @primary-bg-color-dark;
        }

        .z-navbar-top {
            background-color: @primary-bg-color-dark;

            .btn-group .btn-default {
                background-color: @secondary-bg-color-dark;
                border-color: @primary-bg-color-dark;
                color: @secondary-font-color-dark;

                &:hover {
                    background-color: @accent-color-dark;
                    color: @content-bg-color-dark;
                }
            }

            a {
                color: @primary-font-color-dark;
            }
        }

        .z-navbar-bottom {
            background-color: @secondary-bg-color-dark;

            a {
                color: @secondary-font-color-dark;
            }

            .container {
                .navbar-nav {

                    > li > a:hover {
                        background-color: @primary-bg-color-dark;
                    }

                    > li > .dropdown-menu {
                        background-color: @primary-bg-color-dark;

                        > li > a {
                            color: @secondary-font-color-dark;

                            &:hover {
                                background-color: @accent-color-dark;
                                color: @content-bg-color-dark;
                            }
                        }
                    }
                }

                .navbar-form {

                    input[type="text"] {
                        background: @secondary-bg-color-dark;

                        &:hover,
                        &:focus {
                            background: @primary-bg-color-dark;
                        }
                    }
                }
            }
        }

        .z-navbar-user {

            .user-settings {
                border-left: 1px solid @secondary-bg-color-dark;

                a.settings-toggle {
                    border: 1px solid @secondary-bg-color-dark;

                    &:hover {
                        background: @secondary-bg-color-dark;
                    }
                }

                ul.dropdown-menu {
                    background: @secondary-bg-color-dark;
                    border-color: @secondary-bg-color-dark;

                    > li > a {
                        color: @secondary-font-color-dark;

                        &:hover {
                            background-color: @accent-color-dark;
                        }
                    }
                }
            }
        }

        .jumbotron {
            background: @jumbotron-bg-color-dark;

            h1, h2, h3, h4, h5, h6 {
                color: @jumbotron-font-color-dark;
            }
        }

        [data-tab] a {
            color: @accent-color-dark;
        }

        .content {
            background: @content-bg-color-dark;
        }

        .heading {
            border-bottom: 1px solid @secondary-font-color-dark;
        }

        .footing {
            border-top: 1px solid @secondary-font-color-dark;
        }

        .template-price,
        .template-price-xs {
            background-color: @body-bg-color-dark;
        }

        footer {
            background: @primary-bg-color-dark;

            .footer-her {
                border-top: 1px solid @secondary-bg-color-dark;
            }

            .main-footer {
                background: @secondary-bg-color-dark;

                [data-footer-helper] {
                    color: @secondary-font-color-dark;

                    a {
                        color: @secondary-font-color-dark;
                        text-shadow: 1px 1px 1px @primary-bg-color-dark;

                        &:hover {
                            text-decoration: none;
                            color: @brand-primary;
                        }
                    }
                }
            }
        }

        .footer-contact-form,
        .footer-theme-changer {
            border-top: 1px solid @primary-font-color-dark;
        }
    }
}
