﻿@primary-bg-color-sand:             #605223;
@secondary-bg-color-sand:	        #a3882d;
@primary-font-color-sand:           #666666;
@secondary-font-color-sand:		    #ede0b5;
@accent-color-sand:				    #b6a039;
@body-bg-color-sand:                #efefef;
@content-bg-color-sand:             #ffffff;
@jumbotron-bg-color-sand:           #DDC1C1;
@jumbotron-font-color-sand:         #995454;

html.sand-theme {
    background: @primary-bg-color-sand;

    body {
        background: @body-bg-color-sand;
        color: @primary-font-color-sand;

        .template-preview {
            h5 {
                color: @primary-font-color-sand;
            }

            &:hover {
                background: @secondary-bg-color-sand;
                h5 {
                    color: @content-bg-color-sand;
                }
            }
        }

        .main-title {
            color: @accent-color-sand;
        }

        a:link, a:visited {
            color: @accent-color-sand;

            &.btn:not(.btn-default) { color: @content-bg-color-sand; }
            &.btn-default { color: @primary-font-color-sand; }
        }

        .dropdown-scroll {

            > li.disabled > a {
                color: @secondary-font-color-sand;
            }

            > li > a {
                color: @primary-font-color-sand;
            }
        }

        .navbar-nav > .open > a {
            background: @primary-bg-color-sand;
        }

        .z-navbar-top {
            background-color: @primary-bg-color-sand;

            .btn-group .btn-default {
                background-color: @secondary-bg-color-sand;
			    border-color: @primary-bg-color-sand;
			    color: @secondary-font-color-sand;

                &:hover {
                    background-color: @accent-color-sand;
                    color: @content-bg-color-sand;
                }
            }

            a {
                color: @secondary-font-color-sand;
            }
        }

        .z-navbar-bottom {
            background-color: @secondary-bg-color-sand;

            a {
                color: @secondary-font-color-sand;
            }

            .container {
                .navbar-nav {

                    > li > a:hover {
                        background-color: @primary-bg-color-sand;
                    }

                    > li > .dropdown-menu {
                        background-color: @primary-bg-color-sand;

                        > li > a {
                            color: @secondary-font-color-sand;

                            &:hover {
                                background-color: @accent-color-sand;
                                color: @content-bg-color-sand;
                            }
                        }
                    }
                }

                .navbar-form {

                    input[type="text"] {
                        background: @secondary-bg-color-sand;

                        &:hover,
                        &:focus {
                            background: @primary-bg-color-sand;
                        }
                    }
                }
            }
        }

        .z-navbar-user {

            .user-settings {
                border-left: 1px solid @secondary-bg-color-sand;

                a.settings-toggle {
                    border: 1px solid @secondary-bg-color-sand;

                    &:hover {
                        background: @secondary-bg-color-sand;
                    }
                }

                ul.dropdown-menu {
                    background: @secondary-bg-color-sand;
                    border-color: @secondary-bg-color-sand;

                    > li > a {
                        color: @secondary-font-color-sand;

                        &:hover {
                            background-color: @accent-color-sand;
                        }
                    }
                }
            }
        }

        .jumbotron {
            background: @jumbotron-bg-color-sand;

            h1, h2, h3, h4, h5, h6 {
                color: @jumbotron-font-color-sand;
            }
        }

        [data-tab] a {
            color: @accent-color-sand;
        }

        .content {
            background: @content-bg-color-sand;
        }

        .heading {
            border-bottom: 1px solid @secondary-font-color-sand;
        }

        .footing {
            border-top: 1px solid @secondary-font-color-sand;
        }

        .template-price,
        .template-price-xs {
            background-color: @body-bg-color-sand;
        }

        footer {
            background: @primary-bg-color-sand;
            color: @secondary-font-color-sand;

            .footer-her {
                border-top: 1px solid @secondary-bg-color-sand;
            }

            .main-footer {
                background: @secondary-bg-color-sand;

                [data-footer-helper] {
                    color: @secondary-font-color-sand;

                    a {
                        color: @secondary-font-color-sand;
                        text-shadow: 1px 1px 1px @primary-bg-color-sand;

                        &:hover {
                            text-decoration: none;
                            color: @brand-primary;
                        }
                    }
                }
            }
        }

        .footer-contact-form,
        .footer-theme-changer {
            border-top: 1px solid @primary-font-color-sand;
        }
    }
}
