<div class="row jumbotron">
    <div class="col-md-6">
        <section>
            <h1 class="text-center">404</h1>
            <h2 class="text-center">Uh, this is not where I parked my page...</h2>
        </section>
    </div>
    <div class="col-md-6">
    	<h3 class="xl-warning">
    		<span class="glyphicon glyphicon-flash"></span>
    		<span class="glyphicon glyphicon-flash"></span>
    		<span class="glyphicon glyphicon-flash"></span>
    	</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">Maybe try searching our site?</p>
        <form data-search>
            <input type="text" ng-model="search" placeholder="Search Templates" class="form-control">
        </form>
    </div>
</div>