﻿<div class="row">
    <div class="col-md-12">
        <section class="heading row">
            <h1 class="col-md-10" data-ng-class="{ 'text-danger' : !user.active }">
                User: {{ user.userName }} ({{ user.role }})
            </h1>
            <div class="col-md-2">
                <br />
                <a href="" data-ng-click="toggleActive()" class="btn pull-right"
                    data-ng-class="{ 'btn-danger' : user.active, 'btn-success' : !user.active }">
                    Make {{ user.active ? 'Inactive' : 'Active' }}
                </a>
            </div>
        </section>
    </div>
</div>
<div class="row">

    <div class="col-md-3">
        <div class="user-gravatar" data-gravatar data-email="email"></div>
        <p class="lead text-center">
            <span class="glyphicon glyphicon-user"></span> {{ user.userName }}
        </p>
    </div>

    <div class="col-md-9">
        <div class="user-details-form">
            <div data-tabset>

                <!-- Personal Details -->
                <div data-tab data-heading="Details">

                    <div class="row">
                        <div class="col-sm-2"><strong>First Name</strong></div>
                        <div class="col-sm-6">{{ user.firstName }}</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2"><strong>Last Name</strong></div>
                        <div class="col-sm-6">{{ user.lastName }}</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2"><strong>Email</strong></div>
                        <div class="col-sm-6"><a data-ng-href="mailto:{{ user.email }}">{{ user.email }}</a></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2"><strong>Phone</strong></div>
                        <div class="col-sm-6">{{ user.telephone }}</div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2"><strong>Address</strong></div>
                        <div class="col-sm-6">{{ user.address }}</div>
                    </div>

                </div>

                <!-- Settings -->
                <div data-tab data-heading="Change Password">
                    <form class="form-horizontal" name="adminPasswordChange" role="form"
                          data-validated-form
                          data-ng-submit="changePassword()">
                        <button class="btn btn-success" type="submit">Change Password</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <section class="footing col-md-12 text-right">
        <a href="" data-ng-click="cancel()" class="btn btn-default">Return</a>
    </section>
</div>
