﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Manage Templates</h1>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <a href="/#!/manage/templates/create" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span> Create
        </a>
    </div>
    <div class="col-md-4 form-horizontal">
        <input type="text" name="template-search" class="form-control" placeholder="Search" data-ng-model="searchTemplate" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Template Name</th>
                    <th>Creator</th>
                    <th>Date Created</th>
                    <th>Downloads</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="template in templates | filter:searchTemplate" class="pointer" data-ng-click="edit(template.templateID)">
                    <td>{{ template.name }}</td>
                    <td>{{ template.authorName }}</td>
                    <td>{{ template.creationDate | date }}</td>
                    <td>{{ template.downloads }}</td>
                    <td>
                        <div data-ng-switch="template.active">
                            <span data-ng-switch-when="true" class="glyphicon glyphicon-ok-circle text-success"></span>
                            <span data-ng-switch-when="false" class="glyphicon glyphicon-remove circle text-danger"></span> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
</div>