﻿<div class="row">
    <div class="col-md-12">
        <section class="heading" data-ng-switch="edit">
            <div class="row" data-ng-switch-when="true">
                <h1 class="col-md-10" data-ng-class="{ 'text-danger' : !category.active }">
                    Manage Category: {{ category.name }}
                </h1>
                <div class="col-md-2">
                    <br />
                    <a href="" data-ng-click="toggleActive()" class="btn pull-right" 
                       data-ng-class="{ 'btn-danger' : category.active, 'btn-success' : !category.active }">
                        Make {{ category.active ? 'Inactive' : 'Active' }}
                    </a>
                </div>
            </div>
            <h1 data-ng-switch-when="false">Create a new Category</h1>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="categoryDetails" role="form" data-validated-form data-ng-submit="save()">
            <a href="" data-ng-click="cancel()" class="btn btn-default">Return</a>
            <button class="btn btn-success" data-ng-disabled="!categoryDetails.$valid" type="submit">
                <span class="glyphicon glyphicon-ok"></span> Save Changes
            </button>
        </form>
    </div>
</div>