﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Manage Categories</h1>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <a href="/#!/manage/categories/create" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span> Create
        </a>
    </div>
    <div class="col-md-4 form-horizontal">
        <input type="text" name="category-search" class="form-control" placeholder="Search" data-ng-model="searchCategory" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Alias</th>
                    <th>Parent Category</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="category in categories | filter:searchCategory" class="pointer" data-ng-click="edit(category.categoryID)">
                    <td>{{ category.name }}</td>
                    <td>{{ category.code }}</td>
                    <td>{{ category.parentName }}</td>
                    <td>
                        <div data-ng-switch="category.active">
                            <span data-ng-switch-when="true" class="glyphicon glyphicon-ok-circle text-success"></span>
                            <span data-ng-switch-when="false" class="glyphicon glyphicon-remove circle text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>