﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Manage Users</h1>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4 form-horizontal">
        <input type="text" name="user-search" class="form-control" placeholder="Search" data-ng-model="searchUser" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Creation Date</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in users | filter:searchUser" class="pointer" data-ng-click="edit(user.userID)">
                    <td>{{ user.userName }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.creationDate | date }}</td>
                    <td>
                        <div data-ng-switch="user.Active">
                            <span data-ng-switch-when="true" class="glyphicon glyphicon-ok-circle text-success"></span>
                            <span data-ng-switch-when="false" class="glyphicon glyphicon-remove circle text-danger"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>