<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Checkout</h1>
        </section>
    </div>
</div>
<div class="row">
	<div class="col-md-11" data-ng-switch="step">

		<div class="content clearfix">

			<fieldset data-ng-switch-when="1">
				<legend>Step 1: Check your Order</legend>
				<div data-cart-items data-items="items" data-editable="false"></div>
				<hr>
				<div class="pull-right">
					<a href="" data-ng-click="stepTo(2)" class="btn btn-success">Proceed</a>
				</div>
			</fieldset>

			<div data-ng-switch-when="2">
                <form class="form-horizontal" name="personalDetails" role="form"
                      data-caption="Step 2: Enter your Personal Details"
                      data-validated-form
                      data-ng-submit="stepTo(3)">
                    <hr>
                    <div class="pull-right">
                        <a href="" class="btn btn-danger" data-ng-click="stepTo(1)">Return</a>
                        <button type="submit" class="btn btn-success">Proceed</button>
                    </div>
                </form>
			</div>

			<div data-ng-switch-when="3">
                <form class="form-horizontal" name="paymentDetails" role="form"
                      data-caption="Step 3: Enter your Payment Details"
                      data-validated-form
                      data-ng-submit="payment()">
                    <hr>
                    <div class="pull-right">
                        <a href="" data-ng-click="stepTo(2)" class="btn btn-danger">Return</a>
                        <button type="submit" class="btn btn-success">Pay Now</button>
                    </div>
                </form>
			</div>

			<div data-ng-switch-when="4" data-ng-cloak>
				<h1>Payment Successful!</h1>
				<hr>
				<p class="lead">Thank you so much for your purchase!</p>
				<p>If this were a real site, you would actually get something in return for your money.</p>
                <p>Regardless, your order number is <strong>#{{ orderNumber | orderNumber }}</strong></p>
				<a href="#!/view/orders" class="btn btn-primary pull-right">
					View Purchase History
				</a>
			</div>

		</div>

	</div>
</div>