<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Control Panel</h1>
        </section>
    </div>
</div>
<div class="row">

	<div class="col-md-3">
		<div class="user-gravatar" data-gravatar data-email="email"></div>
		<p class="lead text-center">
			<span class="glyphicon glyphicon-user"></span> {{ username }}
		</p>
	</div>

	<div class="col-md-9">
		<div class="user-details-form well">
			<div data-tabset>
				
				<!-- Personal Details -->
				<div data-tab data-heading="Details">
					<form class="form-horizontal" name="personalDetails" role="form" 
                          data-validated-form 
                          data-ng-submit="saveDetails()">
                        <button class="btn btn-success" type="submit">Save Changes</button>
                    </form>
                </div>

				<!-- Settings -->
                <div data-tab data-heading="Change Password">
                    <form class="form-horizontal" name="passwordChange" role="form" 
                          data-validated-form 
                          data-ng-submit="changePassword()">
                        <button class="btn btn-success" type="submit">Change Password</button>
                    </form>
                </div>

			</div>

		</div>
	</div>

</div>

