﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Create a new Template</h1>
        </section>
    </div>
</div>

<form name="templateForm" role="form" data-ng-submit="save()">

    <div class="row">
        <div class="col-md-12">
            <data-ng-form name="templateDetails" role="form" data-caption="Template Details" data-validated-form></data-ng-form>
        </div>
        <div class="col-md-4">
            <data-ng-form name="templateCategories" role="form" data-caption="Select Categories" data-validated-form></data-ng-form>
        </div>
        <div class="col-md-8">
            <data-ng-form name="templatePricing" role="form" data-caption="Choose Prices" data-validated-form></data-ng-form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="footing text-right">
                <a href="" data-ng-click="cancel()" class="btn btn-default">Cancel</a>
                <button class="btn btn-success" data-ng-disabled="!templateForm.$valid" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Save Changes
                </button>
            </section>
        </div>
    </div>

</form>