﻿<div class="row">
    <div class="col-md-12">
        <section class="heading row">
            <h1 class="col-md-10" data-ng-class="{ 'text-danger' : !template.active }">
                Managing Template: {{ template.name }}
            </h1>
            <div class="col-md-2">
                <br />
                <a href="" data-ng-click="toggleActive()" class="btn pull-right"
                   data-ng-class="{ 'btn-danger' : template.active, 'btn-success' : !template.active }">
                    Make {{ template.active ? 'Inactive' : 'Active' }}
                </a>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12" data-tabset>

        <!-- Template Details -->
        <div data-tab data-heading="Details">
            <form name="templateDetails" role="form" data-validated-form data-ng-submit="updateTemplateDetails()">
                <a data-ng-click="cancel()" class="btn btn-default">Return</a>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </form>
        </div>

        <!-- Showcase -->
        <div data-tab data-heading="Showcase">
            <form name="templateShowcase" role="form" data-validated-form data-ng-submit="updateTemplateShowcase()">
                <a data-ng-click="cancel()" class="btn btn-default">Return</a>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </form>
        </div>

        <!-- Categories -->
        <div data-tab data-heading="Categories">
            <form name="templateCategories" role="form" data-validated-form data-ng-submit="updateTemplateCategories()">
                <a data-ng-click="cancel()" class="btn btn-default">Return</a>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </form>
        </div>

        <!-- Pricing -->
        <div data-tab data-heading="Pricing">
            <form name="templatePricing" role="form" data-validated-form data-ng-submit="updateTemplatePricing()">
                <a data-ng-click="cancel()" class="btn btn-default">Return</a>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </form>
        </div>

        <!-- Images -->
        <div data-tab data-heading="Images">
            <form name="templateImages" role="form" data-validated-form data-ng-submit="updateImages()">
                <a data-ng-click="cancel()" class="btn btn-default">Return</a>
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok"></span> Save Changes</button>
            </form>
        </div>

    </div>
</div>


