<div class="row">
    <div class="col-md-12">
        <section class="heading text-center">
            <h1 class="main-title hidden-sm hidden-xs">Website Templates and Themes of Ninja Quality</h1>
            <h2 class="main-title visible-sm visible-xs">Website Templates and Themes of Ninja Quality</h2>
        </section>
    </div>
    <div class="col-md-12">

        <div class="row">
            <div class="col-sm-8">
                <video controls class="video-responsive img-thumbnail">
                    <source src="Content/media/canvas-group.mp4" type="video/mp4">
                    <source src="Content/media/canvas-group.webmsd.webm" type="video/webm">
                    Your browser does not support the HTML5 video element.
                </video>
                <p class="text-center">
                    <small>
                        Thanks to <a href="http://canvasgroup.com.au" target="_blank">Canvas Group</a> for letting me use their fantastic video!
                    </small>
                </p>
            </div>
            <div class="col-sm-4">
                <div class="content text-center">
                    <h2 class="hidden-sm hidden-xs"><span class="glyphicon glyphicon-star-empty"></span> Free Givaway!</h2>
                    <h3 class="visible-sm visible-xs">Free Givaway!</h3>
                    <hr />
                    <p>Sign up to our newsletter and receive any theme from our collection for <strong>FREE!</strong></p>
                    <hr />
                    <form name="signupNewsletterForm" role="form" data-ng-submit="signupToNewsletter">
                        <div class="form-group" data-ng-class="{ 'has-error' : signupNewsletterForm.email.$invalid && signupNewsletterForm.email.$dirty }">
                            <input type="email" class="form-control"
                                   name="email"
                                   placeholder="Enter your email address"
                                   data-ng-model="newsletterEmail" required />
                        </div>
                        <button type="submit" class="btn btn-primary" data-ng-disabled="!signupNewsletterForm.$valid">
                            Yes, I want free stuff!
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">

            <section class="content col-md-12">
                <h3>Newest Items</h3>
                <hr />
                <div class="row">

                    <!-- Display new items added here -->
                    <div class="col-md-2 col-sm-3 col-xs-4 text-center" data-ng-repeat="template in newTemplates">
                        <a data-ng-href="#!/item/{{ template.templateID }}" 
                           class="template-preview" 
                           title="{{ template.name }} :: {{ template.pricing[0].price | currency }}">
                            <img class="img-responsive img-thumbnail"
                                    data-ng-src="/Content/img/uploaded/thumbnails/{{ template.images[0].imagePath }}" />
                        </a>
                    </div>

                </div>
            </section>

        </div>

    </div>
</div>