<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Sign In</h1>
        </section>
    </div>
</div>
<div class="row">
	<div class="col-md-4">
	
        <form class="form-signin well" data-ng-submit="signIn()">
            <input type="text" class="form-control" placeholder="Enter Username" autofocus data-ng-model="user.username">
            <input type="password" class="form-control" placeholder="Enter Password" data-ng-model="user.password">
            <br />
            <div class="help-block text-center" data-ng-show="incorrectLogin">
                <div class="text-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span>Username or password incorrect.</span>
                </div>
            </div>
            <div>
                <p>
                    <small>
                        Forgot your login details? <a href="#" data-ng-click="retrievePassword()">Retrieve them here!</a>
                    </small>
                    <br />
                </p>
            </div>
            <div>
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
        </form>

	</div>
	<div class="col-md-8">
        <div class="well">
            <h3>Demo Login Details</h3>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="text-success"><strong>Administrator Account</strong></span></td>
                        <td>admin</td>
                        <td>admin123</td>
                    </tr>
                    <tr>
                        <td><span class="text-warning"><strong>Author Account</strong></span></td>
                        <td>author</td>
                        <td>author123</td>
                    </tr>
                    <tr>
                        <td><span class="text-danger"><strong>Member Account</strong></span></td>
                        <td>member</td>
                        <td>member123</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>