﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Sign Up. It's Free!</h1>
        </section>
    </div>
</div>

<form name="registerForm" role="form" data-ng-submit="register()">

    <div class="row">
        <div class="col-sm-12 clearfix">
            <ng-form name="loginDetails" role="form" data-caption="Your login details" data-validated-form></ng-form>
        </div>
        <div class="col-sm-12 clearfix">
            <ng-form name="personalDetails" role="form" data-caption="A little bit about you" data-validated-form></ng-form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="footing text-right">
                <a href="" data-ng-click="cancel()" class="btn btn-default">Cancel</a>
                <button class="btn btn-success" data-ng-disabled="!registerForm.$valid" type="submit">
                    <span class="glyphicon glyphicon-ok"></span> Sign me Up
                </button>
            </section>
        </div>
    </div>

</form>