<div class="row">
    <div class="col-12">
        <section class="heading">

            <h1>{{ category.name }}</h1>

            <!-- Search specifric -->
            <p class="lead" data-ng-show="searching">{{ searchResults }}</p>
            <p data-ng-show="searching">You searched for: <em class="text-danger">{{ searchString }}</em></p>

        </section>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9">

        <section class="content clearfix" data-ng-repeat="template in templates | filter: category.code | filter: subcategory">
            <h3 class="pull-left"><a data-ng-href="#!/item/{{ template.templateID }}">{{ template.name }}</a></h3>
            <div class="template-price-xs pull-right visible-xs">
                <h3><small>From:</small> {{ template.pricing[0].price | currency }}</h3>
            </div>
            <div class="pull-left template-item-wrapper">
                <hr>
                <a data-ng-href="/#!/item/{{ template.templateID }}">
                    <img data-ng-src="/Content/img/uploaded/thumbnails/{{ template.images[0].imagePath }}" class="img-thumbnail pull-left">
                </a>
                <div class="template-description pull-left">{{ template.shortDescription }}</div>
                <div class="template-price pull-right hidden-xs">
                    <h3><small>From:</small><br> {{ template.pricing[0].price | currency }}</h3>
                </div>
            </div>
        </section>

    </div>
    <div class="col-sm-3 col-md-3 hidden-xs">

    </div>
</div>