﻿<div class="row">
    <div class="col-md-12">
        <section class="heading row">
            <h1 class="col-md-6">Order #{{ order.orderID | orderNumber }}</h1>
            <h2 class="col-md-6 text-right">Date of Order: {{ order.orderDate | date }}</h2>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Order Details</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Template Name</th>
                    <th>Author</th>
                    <th>License</th>
                    <th>Download</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="template in order.templates">
                    <td>{{ template.template.name }}</td>
                    <td>{{ template.template.author.userName }}</td>
                    <td>{{ template.license.name }}</td>
                    <td><a href="" data-ng-click="download(template.templateID)">Download Files</a></td>
                    <td>{{ template.price | currency }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right"><strong>Order Total:</strong></td>
                    <td><strong>{{ getTotal() | currency }}</strong></td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="footing text-right">
            <a href="" data-ng-click="cancel()" class="btn btn-default">Return</a>
        </section>
    </div>
</div>