<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1><span class="glyphicon glyphicon-shopping-cart"></span> Cart of Holding: {{ count }} item(s)</h1>
        </section>
    </div>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="content">
			<div data-ng-show="count">
				<h4>Your awesome templates:</h4>
				<hr>

				<div data-cart-items data-items="items" data-editable="true"></div>

				<hr>
				<div class="text-right">
					<a href="" class="btn btn-danger" data-ng-click="clear()">Clear Cart</a>
					<a href="/#!/checkout" class="btn btn-success">Checkout</a>
				</div>
			</div>
			<div class="text-center" data-ng-show="!count">
				<br>
				<p class="lead">Your <strong>bag of holding</strong> is empty! Go get some templates!</p>
			</div>
		</div>
	</div>
</div>