﻿<div class="row">
    <div class="col-md-12">
        <section class="heading">
            <h1>Orders</h1>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th data-ng-show="isAdmin">User</th>
                    <th>Date Ordered</th>
                    <th>No if Items</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders | filter:searchOrder" class="pointer" data-ng-click="view(order.orderID)">
                    <td data-ng-show="isAdmin">{{ order.user.userName }}</td>
                    <td>{{ order.orderDate | date }}</td>
                    <td>{{ order.templates.length }}</td>
                    <td>{{ getTotal(order) | currency }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td data-ng-show="isAdmin"></td>
                    <td colspan="2" class="text-right"><strong>Grand Total:</strong></td>
                    <td><strong>{{ getGrandTotal() | currency }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>