<div class="row">
    <div class="col-12">
        <section class="heading">
            <h1>{{ template.name }}</h1>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8">

        <img data-ng-src="/Content/img/uploaded/{{ template.images[0].imagePath }}" class="thumbnail">

        <div class="template-info">
            <hr />
            <section ng-bind="template.shortDescription"></section>
            <hr />
        </div>

        <div class="template-info">
            <section ng-bind-html="template.htmlShowcase"></section>
        </div>

    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <h4>Licensing</h4>
                    <p>
                        You can only have one type of license in your cart at a time. Don't worry though, you can change at any time and also upgrade in future!
                    </p>
                </div>
            </div>
        </div>

        <div data-add-to-cart data-item="template" data-license-id="1"></div>
        <div data-add-to-cart data-item="template" data-license-id="2"></div>
        <div data-add-to-cart data-item="template" data-license-id="3"></div>

    </div>
</div>