// Core variables and mixins
@import "bootstrap/bootstrap.less";
@import "styles/mixins.less";
@import "styles/transitions.less";
@import "styles/navigation.less";
@import "styles/jquery.fileupload.less";
@import "styles/jquery.fileupload-ui.less";
@import "styles/blueimp-gallery.less";
@import "themes/dark-theme.less";
@import "themes/light-theme.less";
@import "themes/sand-theme.less";
@import "themes/ocean-theme.less";

html {
	min-height: 100%;

	body {
		padding-top: 70px;
        min-height: 100%;
	}
}

h1, h2, h3, h4, h5, h6 {
    .text-indent();
}

.image-preview {
    display: none;
}

.video-responsive {
    width: 100% !important;
    height: auto !important;
}

.alerts-wrapper {
    position: fixed; 
    width: 600px; 
    top: 100px; 
    z-index: 9999; 
    left: 50%; 
    margin-left: -300px;

    div.alert { .shadow(); }
}

.pointer {
    cursor: pointer;
}

.wait {
    cursor: wait;
}

.dropdown-scroll {
    height: 200px;
    width: 180px;
    overflow-y: scroll;
}

.btn-dropdown {
    width: 160px;
}

.jumbotron {
    margin-top: 30px;
    .shadow();
    .bevel();

    h1 { font-size: 90px; }

    .xl-warning {
        text-align: center;
        font-size: 5em;
    }
}

.main-content {
  min-height: 400px;
}

.heading {
    padding: 20px;
    margin-bottom: 20px;
}

.footing {
    padding: 20px;
    margin-top: 20px;
}

.content {
    padding: 10px 20px;
    padding-bottom: 25px;
    margin: 10px 0;
    .bevel();
    .shadow();
}

.template-description {
    width: 50%;
    margin-left: 20px;
    font-size: 0.9em;
}

.template-item-wrapper {
    width: 100%;
}

.template-price {
    .bevel();
    .shadow();
    padding: 10px 20px;
}

.template-price-xs {
    .bevel();
    .shadow();
    padding: 2px 10px;
}

.template-info {
    padding: 10px;
}

.template-preview {
    display: block;
    padding: 10px 5px;
    margin-bottom: 5px;
    .round-corners(3px);
    .multiple-transition(~'0.3s linear all');
}

.form-signin {
    input[type="text"] { .flat-bottom(); }
    input[type="password"] { .flat-top(); border-top: none; }
}

.user-gravatar {
    text-align: center;

    img {
        margin: 8px auto;
    }
}

.user-details-form {
    label.half { width: 45%; }
    label.full { width: 92%; }
}

[data-tab] { cursor: pointer; }

.tab-content {
    padding: 40px 10px;
}

footer {

    margin-top: 50px;

    h3, h4, h5, h6 {
        text-shadow: none;
    }

    .footer-hr {
        margin-top: 20px;
    }

    .main-footer {
        min-height: 30px;

        [data-footer-helper] {
            padding: 10px;
            
            a {
                display: block;
                padding-right: 20px;
            }
        }
    }

}

.footer-contact-form,
.footer-theme-changer {
    padding-top: 20px;
    margin-top: 10px;
    display: none;
}
