﻿@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en" id="ng-app" class="ng-app:storeApp"
      data-ng-app="storeApp"
      data-ng-class="{ 'dark-theme' : theme === 'dark', 'light-theme' : theme === 'light', 'sand-theme' : theme === 'sand', 'ocean-theme' : theme === 'ocean' }" 
      xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="">
    <meta name="author" content="Francisco Preller">

    <title data-ng-bind="title">Templates Dojo</title>
    @Styles.Render("~/Content/css")

    <!--[if lt IE 9]>
      @Scripts.Render("~/bundles/ltIE9")
    <![endif]-->
    <!--[if lt IE 8]>
      @Scripts.Render("~/bundles/ltIE8")
      @Styles.Render("~/Content/ltIE8")
    <![endif]-->

</head>
<body>

    <!-- Ajax Loading overlay -->
    <div class="overlay" data-ng-show="ajaxLoading" data-ng-cloak>
        <div class="overlay-content">
            <img src="/Content/img/loading.gif" alt="Page is loading" height="20" />
            <span>Loading, please wait...</span>
        </div>
    </div>

    <!-- Image preview overlay -->
    <div class="overlay image-preview" data-ng-show="imagePreviewing.active">
        <div class="overlay-image-wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <h3>{{ imagePreviewing.name }}</h3>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="" class="btn btn-default" data-ng-click="imagePreviewing.active = false">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                <div class="col-md-12 text-center">
                    <hr />
                    <img data-ng-src="{{ imagePreviewing.src }}" alt="{{ imagePreviewing.name }}" class="img-responsive img-thumbnail img-rounded" />
                    <hr />
                    <span data-ng-bind="imagePreviewing.caption"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Alerts Wrapper -->
    <div class="alerts-wrapper" data-ng-controller="AlertsController" data-ng-cloak>
        <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type" data-close="closeAlert($index)">{{ alert.message }}</div>
    </div>

    <!-- Navigation Directive -->
    <div class="site-navigation" data-ng-cloak></div>

    <!-- View -->
    <div class="container main-content ng-view" data-ng-cloak></div>

    <!-- Footer -->
    <footer>
        <section class="main-footer">
            <div class="container">
                <div data-footer-helper></div>
            </div>
        </section>
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy; @DateTime.Now.Year <em class="text-danger">TemplatesDojo.com</em></p>
                </div>
                <div class="col-md-6 text-right">
                    <div>
                        <img src="/Content/img/logo.png" alt="Templates Dojo Logo" height="100" />
                    </div>
                </div>
            </div>
        </div>
        <section class="footer-hr col-md-12"></section>
    </footer>

    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/angular")
    <!--[if lt IE 8]>
        @Scripts.Render("~/bundles/ie7mode")
    <![endif]-->
    @Scripts.Render("~/bundles/app")

</body>
</html>