﻿.transition-bg(@seconds: 0.5s) {
    -webkit-transition: background @seconds linear;
    -moz-transition: background @seconds linear;
    -ms-transition: background @seconds linear;
    -o-transition: background @seconds linear;
    transition: background @seconds linear;
}

.multiple-transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.round-corners(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.bevel() {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.shadow() {
    box-shadow: 2px 2px 5px #e4e4e4;
}

.text-indent() {
    text-shadow: 0px 2px 3px #fff;
}

.flat-top() {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flat-bottom() {
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.glow(@color) {
	text-shadow: 	 2px 0px  6px @color,
					 2px 2px  6px @color,
					 0px 2px  6px @color,
					-2px 2px  6px @color,
					-2px 0px  6px @color, 
					-2px -2px 6px @color,
  					 0px -2px 6px @color,
  					 2px -2px 6px @color;
}