﻿.z-navbar-top {
	font-size: 0.9em;
	min-height: 36px;
	border-bottom: none;

	.navbar-brand {
		padding: 7px 14px;
		font-size: 15px;
		&.hidden-xs { margin-left: -30px; }
		&.visible-xs { margin-top: 7px; font-size: 22px; color: #fff; }

        img { height: 32px; float: left; margin-right: 8px; }
        span { font-size: 1.2em; margin-top: 6px; float: left; }
	}

	.navbar-nav > li > a {
		padding-top:    12px;
    	padding-bottom: 12px;
	}

	.btn-group {
		margin-left: 15px;

		>.btn {
			-webkit-border-top-left-radius: 	3px;
			-webkit-border-top-right-radius: 	3px;
			-moz-border-radius-topleft: 		3px;
			-moz-border-radius-topright: 		3px;
			border-top-left-radius: 			3px;
			border-top-right-radius: 			3px;
			line-height: 1.2;
		}

		.btn-default {
			
			margin-top: 9px;
            .transition-bg(0.3s);

		}
	}
}

.z-navbar-bottom {
    font-size: 0.9em;

    .container {
        padding: 0;

        .navbar-nav {

            > li > a {
                padding-top: 7px;
                padding-bottom: 7px;
            }

            > li > .dropdown-menu {
                margin-top: -1px;
                margin-left: -1px;
                width: 240px;

                > li > a {
                    font-size: 0.8em;
                    line-height: 20px;

                    &:hover {
	                    color: #fff;
                    }
                }
            }
        }

        .dropdown-menu .divider {
            .nav-divider(#222);
        }

        .navbar-form input[type="text"] {
            padding: 5px 10px;
            margin: -5px 0;
            border: 1px solid #666;
            width: 150px;
            color: #ccc;
            .multiple-transition(~'width 0.3s ease-in-out, background 0.3s linear');

            &:hover,
            &:focus {
                width: 200px;
            }
        }
    }
}

.z-navbar-user {

    .user-settings {
        padding-top:    4px;
        padding-bottom: 4px;
        padding-left: 20px;
        line-height: 36px;
        color: #efefef;

        a.settings-toggle {
            line-height: 30px;
            padding: 4px 12px 0 12px;
            margin-left: 10px;
            display: block;
            color: #efefef;

            span { font-size: 1.6em; }

            &:hover {
                text-decoration: none;
            }
        }

        ul.dropdown-menu {
            .flat-top();
            .flat-bottom();
            margin-top: -2px;
            width: 200px;

            > li > a {
                font-size: 0.8em;
                line-height: 20px;

                &:hover { 
	                color: #fff;
                }
            }

            .divider {
                .nav-divider(#444);
            }
        }
    }

    .open > a {
          &,
          &:hover,
          &:focus {
            background-color: #333;
            color: #fff;
        }
    }

}