﻿.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.overlay-content {
    position: fixed;
    top: 80px;
    left: 50%;
    width: 20em;
    margin-left: -10em;
    background: #ccc;
    color: #333;
    text-align: center;
    padding: 10px 0;
    .bevel();
}

.overlay-image-wrapper {
    position: fixed;
    top: 80px;
    width: 60em;
    left: 50%;
    margin-left: -30em;
    background: #ccc;
    color: #333;
    padding: 10px;
    .bevel();
    .round-corners(6px);
}

.ng-hide { display: none !important; }

.overlay.ng-hide-add {
    .multiple-transition(~'0.2s linear all');
    opacity: 1;
}

.overlay.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.overlay.ng-hide-remove {
    .multiple-transition(~'0.2s linear all');
    display: block !important;
    opacity: 0;
}

.overlay,
.overlay.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.ng-view.ng-enter,
.ng-view.ng-leave {
    .multiple-transition(~'all 0.6s ease-in');
}

.ng-view.ng-enter,
.ng-view.ng-leave.ng-leave-active {
    opacity: 0;
}

.ng-view.ng-leave,
.ng-view.ng-enter.ng-enter-active {
    opacity: 1;
}