﻿<!-- New password -->
<div class="form-group" data-ng-class="{'has-error': adminPasswordChange.newPassword.$invalid && adminPasswordChange.newPassword.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">New Password</label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="newPassword"
               name="newPassword"
               data-ng-model="password.new"
               data-ng-minlength="6"
               required
               placeholder="New Password">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="adminPasswordChange.newPassword.$error.minlength && passwordChange.newPassword.$dirty">
            Must be at least 6 characters
        </small>
        <small data-ng-show="adminPasswordChange.newPassword.$error.required && adminPasswordChange.newPassword.$dirty">
            Old Password Required
        </small>
    </div>
</div>
<!-- Confirm password -->
<div class="form-group" data-ng-class="{'has-error': adminPasswordChange.confirmPassword.$invalid && adminPasswordChange.confirmPassword.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="confirmPassword"
                name="confirmPassword"
                required
                data-ng-model="password.confirm"
                data-password-match="newPassword"
                placeholder="Confirm Password">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="adminPasswordChange.confirmPassword.$error.required && adminPasswordChange.confirmPassword.$dirty">
            Confirm Password Required
        </small>
        <small data-ng-show="adminPasswordChange.confirmPassword.$error.passwordmatch && adminPasswordChange.confirmPassword.$dirty">
            Passwords must match
        </small>
    </div>
</div>