﻿<!-- Category name -->
<div class="row form-group" data-ng-class="{'has-error': categoryDetails.Name.$invalid && categoryDetails.Name.$dirty}">
    <label for="category.Name" class="col-sm-2 control-label">Category Name</label>
    <div class="col-sm-6">
        <input type="text" class="form-control"
               name="Name"
               data-ng-model="category.name"
               required
               placeholder="Enter Category Name">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="categoryDetails.Name.$error.required && categoryDetails.Name.$dirty">
            Category Name Required
        </small>
    </div>
</div>

<!-- Alias -->
<div class="row form-group" data-ng-class="{'has-error': categoryDetails.Code.$invalid && categoryDetails.Code.$dirty}">
    <label for="category.Code" class="col-sm-2 control-label">Alias</label>
    <div class="col-sm-3">
        <input type="text" class="form-control"
               name="Code"
               data-ng-model="category.code"
               required
               placeholder="Enter Alias">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="categoryDetails.Code.$error.required && categoryDetails.Code.$dirty">
            Alias Required
        </small>
    </div>
</div>

<!-- Parent Category -->
<div class="row form-group">
    <label for="category.ParentCategoryID" class="col-sm-2 control-label">Parent Category</label>
    <!-- Dropdown button selector -->
    <div class="col-sm-3">
        <select class="form-control" name="ParentCategoryID"
                data-ng-model="category.parentCategoryID"
                data-ng-options="p.categoryID as p.name for p in parentCategories"
                required>
        </select>
    </div>
</div>

<!-- Description -->
<div class="row form-group" data-ng-class="{'has-error': categoryDetails.Description.$invalid && categoryDetails.Description.$dirty}">
    <label for="category.Description" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-6">
        <textarea class="form-control" name="Description"
                  data-ng-model="category.description"
                  placeholder="Enter Description"
                  rows="8"></textarea>
    </div>
</div>