﻿<div class="row form-group" data-ng-class="{'has-error': contactUs.name.$invalid && contactUs.name.$dirty}">
    <label for="name" class="col-md-3 text-right">Name</label>
    <div class="col-md-9">
        <input type="text" name="name" class="form-control" data-ng-model="contact.name" required />
    </div>
    <div class="col-md-9 col-md-offset-3 help-block" data-ng-show="contactUs.name.$invalid && contactUs.name.$dirty">
        <small data-ng-show="contactUs.name.$error.required && contactUs.name.$dirty">
            Name is required
        </small>
    </div>
</div>
<div class="row form-group" data-ng-class="{'has-error': contactUs.email.$invalid && contactUs.email.$dirty}">
    <label for="email" class="col-md-3 text-right">Email</label>
    <div class="col-md-9">
        <input type="email" name="email" class="form-control" data-ng-model="contact.email" required />
    </div>
    <div class="col-md-9 col-md-offset-3 help-block" data-ng-show="contactUs.email.$invalid && contactUs.email.$dirty">
        <small data-ng-show="contactUs.email.$error.required && contactUs.email.$dirty">
            Email is required
        </small>
        <small data-ng-show="contactUs.email.$error.email && contactUs.email.$dirty">
            Email must be valid
        </small>
    </div>
</div>
<div class="row form-group" data-ng-class="{'has-error': contactUs.message.$invalid && contactUs.message.$dirty}">
    <label for="message" class="col-md-3 text-right">Message</label>
    <div class="col-md-9">
        <textarea name="message" rows="4" class="form-control" data-ng-model="contact.message" required></textarea>
    </div>
    <div class="col-md-9 col-md-offset-3 help-block" data-ng-show="contactUs.message.$invalid && contactUs.message.$dirty">
        <small data-ng-show="contactUs.message.$error.required && contactUs.message.$dirty">
            Message is required
        </small>
    </div>
</div>