﻿<!-- Username -->
<div class="form-group row" data-ng-class="{'has-error': loginDetails.username.$invalid && loginDetails.username.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">Username</label>
    <div class="col-sm-5">
        <input type="text" class="form-control"
               name="oldPassword"
               data-ng-model="login.username"
               required
               placeholder="Enter username">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="loginDetails.username.$error.required && loginDetails.username.$dirty">
            Old Password Required
        </small>
    </div>
</div>
<!-- New password -->
<div class="form-group row" data-ng-class="{'has-error': loginDetails.newPassword.$invalid && loginDetails.newPassword.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="newPassword"
               name="newPassword"
               data-ng-model="login.password"
               data-ng-minlength="6"
               required
               placeholder="New Password">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="loginDetails.newPassword.$error.minlength && loginDetails.newPassword.$dirty">
            Must be at least 6 characters
        </small>
        <small data-ng-show="loginDetails.newPassword.$error.required && loginDetails.newPassword.$dirty">
            New Password Required
        </small>
    </div>
</div>
<!-- Confirm password -->
<div class="form-group row" data-ng-class="{'has-error': loginDetails.confirmPassword.$invalid && loginDetails.confirmPassword.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">Confirm Password</label>
    <div class="col-sm-5">
        <input type="password" class="form-control" id="confirmPassword"
               name="confirmPassword"
               required
               data-ng-model="login.confirmPassword"
               data-password-match="newPassword"
               placeholder="Confirm Password">
    </div>
    <div class="col-sm-4 help-block">
        <small data-ng-show="loginDetails.confirmPassword.$error.required && loginDetails.confirmPassword.$dirty">
            Confirm Password Required
        </small>
        <small data-ng-show="loginDetails.confirmPassword.$error.passwordmatch && loginDetails.confirmPassword.$dirty">
            Passwords must match
        </small>
    </div>
</div>