<!-- Old password -->
<div class="form-group" data-ng-class="{'has-error': passwordChange.oldPassword.$invalid && passwordChange.oldPassword.$dirty}">
	<label for="card.name" class="col-sm-3 control-label">Old Password</label>
	<div class="col-sm-5">
		<input type="password" class="form-control" 
			name="oldPassword"
			data-ng-model="password.old" 
			required
			placeholder="Old Password">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="passwordChange.oldPassword.$error.required && passwordChange.oldPassword.$dirty">
			Old Password Required
		</small>
	</div>
</div>
<!-- New password -->
<div class="form-group" data-ng-class="{'has-error': passwordChange.newPassword.$invalid && passwordChange.newPassword.$dirty}">
	<label for="card.name" class="col-sm-3 control-label">New Password</label>
	<div class="col-sm-5">
		<input type="password" class="form-control" id="newPassword"
			name="newPassword"
			data-ng-model="password.new"
            data-ng-minlength="6"
			required
			placeholder="New Password">
	</div>
	<div class="col-sm-4 help-block">
        <small data-ng-show="passwordChange.newPassword.$error.minlength && passwordChange.newPassword.$dirty">
            Must be at least 6 characters
        </small>
		<small data-ng-show="passwordChange.newPassword.$error.required && passwordChange.newPassword.$dirty">
			New Password Required
		</small>
	</div>
</div>
<!-- Confirm password -->
<div class="form-group" data-ng-class="{'has-error': passwordChange.confirmPassword.$invalid && passwordChange.confirmPassword.$dirty}">
	<label for="card.name" class="col-sm-3 control-label">Confirm Password</label>
	<div class="col-sm-5">
		<input type="password" class="form-control" id="confirmPassword"
			name="confirmPassword"
			required
			data-ng-model="password.confirm"
			data-password-match="newPassword"
			placeholder="Confirm Password">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="passwordChange.confirmPassword.$error.required && passwordChange.confirmPassword.$dirty">
			Confirm Password Required
		</small>
		<small data-ng-show="passwordChange.confirmPassword.$error.passwordmatch && passwordChange.confirmPassword.$dirty">
			Passwords must match
		</small>
	</div>
</div>