<!-- Input existing card -->
<div class="form-group" data-ng-show="user.payment">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 checkbox">
        <label for="existingCard">
            <input type="checkbox" data-ng-model="card.useExisting" />
            I wish to use my existing card ending with <strong>{{ user.payment.creditCardTrail }}</strong>
        </label>
    </div>
    <hr />
</div>
<!-- Credit Card number -->
<div class="form-group" data-ng-class="{'has-error': (paymentDetails.cardNum1.$invalid && paymentDetails.cardNum1.$dirty) || (paymentDetails.cardNum2.$invalid && paymentDetails.cardNum2.$dirty) || (paymentDetails.cardNum3.$invalid && paymentDetails.cardNum3.$dirty) || (paymentDetails.cardNum4.$invalid && paymentDetails.cardNum4.$dirty) }">
    <label for="card.number" class="col-sm-3 control-label">Credit Card Number</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-2">
                <input type="text" class="form-control"
                       name="cardNum1"
                       data-ng-model="card.number[1]"
                       maxlength="4"
                       required
                       data-ng-disabled="card.useExisting"
                       data-ng-pattern="/^[0-9\*]{4}$/">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control"
                       name="cardNum2"
                       data-ng-model="card.number[2]"
                       maxlength="4"
                       required
                       data-ng-disabled="card.useExisting"
                       data-ng-pattern="/^[0-9\*]{4}$/">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control"
                       name="cardNum3"
                       data-ng-model="card.number[3]"
                       maxlength="4"
                       required
                       data-ng-disabled="card.useExisting"
                       data-ng-pattern="/^[0-9\*]{4}$/">
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control"
                       name="cardNum4"
                       data-ng-model="card.number[4]"
                       maxlength="4"
                       required
                       data-ng-disabled="card.useExisting"
                       data-ng-pattern="/^[0-9]{4}$/">
            </div>
            <div class="col-sm-4 help-block">
                <small data-ng-show="(paymentDetails.cardNum1.$invalid && paymentDetails.cardNum1.$dirty) || (paymentDetails.cardNum2.$invalid && paymentDetails.cardNum2.$dirty) || (paymentDetails.cardNum3.$invalid && paymentDetails.cardNum3.$dirty) || (paymentDetails.cardNum4.$invalid && paymentDetails.cardNum4.$dirty)">
                    Credit card must be valid
                </small>
            </div>
        </div>
    </div>
</div>
<!-- Expiry Date -->
<div class="form-group">
    <label for="card.expiry.month" class="col-sm-3 control-label">Expiry Date</label>
    <div class="col-sm-3">
        <select class="form-control"
                data-ng-model="card.expiry.month"
                data-ng-disabled="card.useExisting"
                data-ng-options="m.id as m.name for m in months"></select>
    </div>
    <div class="col-sm-3">
        <select class="form-control"
                data-ng-model="card.expiry.year"
                data-ng-disabled="card.useExisting"
                data-ng-options="y for y in years"></select>
    </div>
    <div class="col-sm-3 help-block">
        <!-- could validate for expiry date overdue here in future -->
        <small></small>
    </div>
</div>
<!-- Name on Card -->
<div class="form-group" data-ng-class="{'has-error': paymentDetails.cardholder.$invalid && paymentDetails.cardholder.$dirty}">
    <label for="card.name" class="col-sm-3 control-label">Cardholder Name</label>
    <div class="col-sm-6">
        <input type="text" class="form-control"
               name="cardholder"
               data-ng-model="card.name"
               required
               data-ng-disabled="card.useExisting"
               placeholder="Enter Cardholder Name">
    </div>
    <div class="col-sm-3 help-block">
        <small data-ng-show="paymentDetails.cardholder.$error.required && paymentDetails.cardholder.$dirty">
            Cardholder Name Required
        </small>
    </div>
</div>