<!-- First name -->
<div class="form-group row" data-ng-class="{'has-error': personalDetails.firstName.$invalid && personalDetails.firstName.$dirty}">
	<label for="user.firstName" class="col-sm-2 control-label">First Name</label>
	<div class="col-sm-6">
		<input type="text" class="form-control" 
			name="firstName"
			data-ng-model="user.firstName"
			required
			placeholder="Enter First Name">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="personalDetails.firstName.$error.required && personalDetails.firstName.$dirty">
			First Name Required
		</small>
	</div>
</div>

<!-- Last name -->
<div class="form-group row" data-ng-class="{'has-error': personalDetails.lastName.$invalid && personalDetails.lastName.$dirty}">
	<label for="user.lastName" class="col-sm-2 control-label">Last Name</label>
	<div class="col-sm-6">
		<input type="text" class="form-control" 
			name="lastName"
			data-ng-model="user.lastName" 
			required
			placeholder="Enter Last Name">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="personalDetails.lastName.$error.required && personalDetails.lastName.$dirty">
			Last Name Required
		</small>
	</div>
</div>

<!-- Email -->
<div class="form-group row" data-ng-class="{'has-error': personalDetails.email.$invalid && personalDetails.email.$dirty}">
	<label for="user.email" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-6">
		<input type="email" class="form-control" 
			name="email"
			data-ng-model="user.email" 
			required
			placeholder="Enter Email">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="personalDetails.email.$error.required && personalDetails.email.$dirty">
			Email Required
		</small>
		<small data-ng-show="personalDetails.email.$error.email && personalDetails.email.$dirty">
			Must be a valid email address
		</small>
	</div>
</div>

<!-- Phone -->
<div class="form-group row" data-ng-class="{'has-error': personalDetails.phone.$invalid && personalDetails.phone.$dirty}">
	<label for="user.phone" class="col-sm-2 control-label">Phone</label>
	<div class="col-sm-6">
		<input type="text" class="form-control" 
			name="phone"
			data-ng-model="user.telephone" 
			required
			placeholder="Enter Phone">
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="personalDetails.phone.$error.required && personalDetails.phone.$dirty">
			Phone Required
		</small>
	</div>
</div>

<!-- Address -->
<div class="form-group row" data-ng-class="{'has-error': personalDetails.address.$invalid && personalDetails.address.$dirty}">
	<label for="user.address" class="col-sm-2 control-label">Address</label>
	<div class="col-sm-6">
		<textarea class="form-control" name="address"
			data-ng-model="user.address"
			required 
			placeholder="Enter Address" 
			rows="4">
		</textarea>
	</div>
	<div class="col-sm-4 help-block">
		<small data-ng-show="personalDetails.address.$error.required && personalDetails.address.$dirty">
			Address Required
		</small>
	</div>
</div>