﻿<div class="row">
    <div class="col-md-12">
        <a href="" data-ng-click="uploadFiles()" class="btn btn-success">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
            Upload Files
        </a>
        <hr />
    </div>
</div>

<table class="table table-striped files">

    <tr>
        <th>Preview</th>
        <th>File Name</th>
        <th>Caption</th>
        <th>Default</th>
        <th>Delete</th>
    </tr>

    <tr data-ng-repeat="file in files">

        <!-- Thumbnail -->
        <td>
            <div class="preview">
                <a href="" title="{{ file.name }}" data-ng-click="previewImage(file)"><img data-ng-src="{{ file.thumbnailUrl }}" /></a>
            </div>
        </td>

        <!-- File Name -->
        <td>{{ file.name }}</td>

        <!-- Image Caption -->
        <td>
            <textarea name="caption" data-ng-model="file.caption" class="form-control" rows="4"></textarea>
        </td>

        <!-- Default -->
        <td data-ng-switch="file.default">
            <div data-ng-switch-when="true" class="text-success"><span class="glyphicon glyphicon-check"></span> <strong>Default</strong></div>
            <a data-ng-switch-when="false" href="" data-ng-click="makeDefaultImage(file.templateImageID)" class="btn btn-default">
                <span class="glyphicon glyphicon-check"></span> Make Default
            </a>
        </td>

        <!-- Delete File -->
        <td>
            <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger" data-ng-click="deleteImage(file.templateImageID, $index)">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </button>
        </td>

    </tr>
</table>