﻿<div class="row">
    <div class="col-md-12">
        <div class="row form-group" data-ng-class="{'has-error': templateShowcase.showcase.$invalid && templateShowcase.showcase.$dirty}">
            <label class=" col-sm-2" for="template.HTMLShowcase">
            <span>Showcase</span><br />
            <small>(HTML Enabled)</small>
            </label>
            <div class="col-sm-8">
                <textarea class="form-control" name="showcase" rows="20" placeholder="Enter HTML Showcase" data-ng-model="template.htmlShowcase" required></textarea>
            </div>
            <div class="col-sm-2 help-block">
                <small data-ng-show="templateShowcase.showcase.$error.required && templateShowcase.showcase.$dirty">
                    Showcase is required
                </small>
            </div>
        </div>
    </div>
</div>