﻿<div class="row">
    <div class="col-md-12">
        <div class="row form-group" data-ng-class="{'has-error': templatePricing.regular.$invalid && templatePricing.regular.$dirty}">
            <label class="col-sm-3">Regular License</label>
            <div class="col-sm-4">
                <input type="text"
                       name="regular"
                       data-ng-pattern="/^[0-9]+[\.][0-9]{2}$/"
                       class="form-control"
                       data-ng-model="pricing[0].price"
                       required />
            </div>
            <div class="col-sm-5 help-block">
                <small data-ng-show="templatePricing.regular.$error.pattern && templatePricing.regular.$dirty">
                    Must be a valid amount
                </small>
                <small data-ng-show="templatePricing.regular.$error.required && templatePricing.regular.$dirty">
                    Amount is required
                </small>
            </div>
        </div>
        <div class="row form-group" data-ng-class="{'has-error': templatePricing.extended.$invalid && templatePricing.extended.$dirty}">
            <label class="col-sm-3">Extended License</label>
            <div class="col-sm-4">
                <input type="text"
                       name="extended"
                       data-ng-pattern="/^[0-9]+[\.][0-9]{2}$/"
                       class="form-control"
                       data-ng-model="pricing[1].price"
                       required />
            </div>
            <div class="col-sm-5 help-block">
                <small data-ng-show="templatePricing.extended.$error.pattern && templatePricing.extended.$dirty">
                    Must be a valid amount
                </small>
                <small data-ng-show="templatePricing.extended.$error.required && templatePricing.extended.$dirty">
                    Amount is required
                </small>
            </div>
        </div>
        <div class="row form-group" data-ng-class="{'has-error': templatePricing.exclusive.$invalid && templatePricing.exclusive.$dirty}">
            <label class="col-sm-3">Exclusive License</label>
            <div class="col-sm-4">
                <input type="text"
                       name="exclusive"
                       data-ng-pattern="/^[0-9]+[\.][0-9]{2}$/"
                       class="form-control"
                       data-ng-model="pricing[2].price"
                       required />
            </div>
            <div class="col-sm-5 help-block">
                <small data-ng-show="templatePricing.exclusive.$error.pattern && templatePricing.exclusive.$dirty">
                    Must be a valid amount
                </small>
                <small data-ng-show="templatePricing.exclusive.$error.required && templatePricing.exclusive.$dirty">
                    Amount is required
                </small>
            </div>
        </div>
    </div>
</div>