﻿<div class="row">
    <div class="col-md-8">
        <div class="row form-group">
            <div class="col-sm-12">
                <small>You may have up to 5 categories for your template.</small>
                <hr />
            </div>
            <div class="col-sm-12" data-ng-repeat="item in [0,1,2,3,4]">
                <div class="row" style="margin-bottom: 10px;">

                    <!-- Dropdown button selector -->
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-dropdown dropdown-toggle" data-toggle="dropdown">
                                {{ categories[$index].category.name || 'None Selected' }}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-scroll" role="menu">
                                <li><a href="" data-ng-click="removeCategory($parent.$index)">None</a></li>
                                <li data-ng-repeat="subcat in subcategories"
                                    data-ng-class="{ disabled : categoryExists(subcat.categoryID) }">
                                    <a href="" data-ng-click="assignCategory(categories[$parent.$index], subcat)">
                                        {{ subcat.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>