﻿<div class="row">
    <div class="col-md-12">
        <div class="row form-group" data-ng-class="{'has-error': templateDetails.name.$invalid && templateDetails.name.$dirty}">
            <label class="col-sm-2" for="template.Name">Template Name</label>
            <div class="col-sm-7">
                <input type="text" name="name" class="form-control" placeholder="Enter Template Name" data-ng-model="template.name" required />
                <br />
            </div>
            <div class="col-sm-3 help-block">
                <small data-ng-show="templateDetails.name.$error.required && templateDetails.name.$dirty">
                    Template Name Required
                </small>
            </div>
        </div>
        <div class="row form-group" data-ng-class="{'has-error': templateDetails.description.$invalid && templateDetails.description.$dirty}">
            <label class="col-sm-2" for="template.ShortDescription">Description</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="description" rows="6"
                          maxlength="400"
                          data-ng-maxlength="400" 
                          data-ng-model="template.shortDescription" 
                          placeholder="Enter Short Description" 
                          required>
                </textarea>
            </div>
            <div class="col-sm-3 help-block">
                <small data-ng-show="templateDetails.description.$error.required && templateDetails.description.$dirty">
                    Short Description Required
                </small>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2" for="template.Tags">Tags</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="4" placeholder="Enter Tags" data-ng-model="template.tags"></textarea>
            </div>
        </div>
    </div>
</div>